# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build and bin
/build
/bin

# Recorded data
/01-kinesthetic-teaching/data_logging/data

# User files
*.user

# VSCode files
/.vscode

#ipython notebook and data
/.ipynb_checkpoints
/data-and-learning/.ipynb_checkpoints

